@import "reset.css";
@import "_partials/variables";
@import "_partials/animations";
@import "_partials/titles";
@import "_partials/buttons";
@import "_partials/cards";
@import "_partials/modals";

body, html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 14px;


  @media screen and #{$mq-large} {
    font-size: 16px;
  }
}

body {
  padding: 0 2rem 0 2rem;
  text-align: center;
  background-color: #dee5db;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  overflow: hidden;

  &.unlocked {
    overflow: auto;
  }
}

#deck {
  position: relative;
  margin: 3em auto;
  width: 19.28rem;
  min-height: 30.71rem;

  #start {
    margin: 4em auto;
  }

  &.spread {
    width: 100%;
    transition: all 2s;
    padding-bottom: 5.8rem;
  }
}

#score-board {
  padding: 1em 0;
  font-size: 1.3rem;
  text-align: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  min-width: 30rem;
  margin: 0 auto;
  width: 30rem;
  left: calc(50vw - 15rem);
  border-radius: 1.25rem 1.25rem 0 0;
  text-transform: uppercase;
  z-index: 500;
  filter: drop-shadow(3px 3px 3px black);

  @media screen and #{$mq-small} {
    font-size: 1.5rem;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

#final-score {
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .inner {
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}
