@import "reset.css";
@import "_partials/variables";
@import "_partials/animations";
@import "_partials/forms";
@import "_partials/titles";
@import "_partials/buttons";
@import "_partials/cards";
@import "_partials/modals";

body, html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: $default-font-size;

  @media screen and #{$mq-large} {
    font-size: $large-font-size
  }
}

body {
  padding: 0;
  text-align: center;
  background-color: $colour-primary;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  overflow: hidden;
  position: relative;

  &.unlocked {
    overflow: auto;
  }
}

header {
  padding: 1.2em 1.2em 0 1.2em;
  height: 8rem;
  background: $colour-primary;
  transition: all 1s;

  @media screen and #{$mq-small} {
    height: 10rem;
    padding: 1.5em 1.5em 0 1.5em;
  }

  @media screen and #{$mq-large} {
    height: 15rem;
  }
}
body.unlocked header {
  position: sticky;
  top: 0;
  z-index: 500;
  height: 7rem;
  padding-top: 1em;
  border-bottom: $colour-secondary dotted 1px;
  transition: all 1s;
}

#controls {
  #learn {
    margin: 2em auto 1em auto;
  }
  #start {
    margin: 2em auto 0 auto;
  }
  #play-again {
    display: inline-block;
    margin: 1em 0;
  }
}

#deck {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em auto 0 auto;
  width: 18.81rem; // Must be same width as card
  min-height: 30rem;

  @media screen and #{$mq-small} {
    margin: 3em auto 0 auto;
    width: 20.9rem; // Must be same width as card
  }

  @media screen and #{$mq-medium} {
    margin: 4em auto;
    width: 22.99rem;
  }

  @media screen and #{$mq-large} {
    margin: 6em auto;
    width: 25.08rem; // Must be same width as card
  }

  &.spread {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    transition: all 2s;
    padding: 0 2rem 3.5rem 2rem;
    margin-top: 1.5em;
    min-width: 0;
  }
}

#score-board {
  display: inline-block;
  border: 2px solid $colour-secondary;
  font-size: 1.2rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  text-align: center;
  width: 17rem;
  letter-spacing: 0.3ch;
  line-height: 1;
  position: absolute;
  bottom: 1em;
  padding: 1rem;
  left: calc(50% - 8.5rem);

  @media screen and #{$mq-small} {
    bottom: 2em;
  }

  @media screen and #{$mq-large} {
    font-size: 1.8rem;
    width: 22rem;
    left: calc(50% - 11rem);
    bottom: 2.5em;
  }


  &::before {
    content: '';
    border: 2px solid $colour-secondary;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  &::after {
    content: '';
    border: 2px solid $colour-secondary;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.99) rotate(-0.8deg);
    border-radius: 2% 6% 2% 4% / 2% 6% 5% 4%;
  }

  @media screen and #{$mq-large} {
    font-size: 1.4rem;
  }

  h3 {
    font-weight: bold;
    display: inline;
    margin-right: 1.5em;
    font-size: 1.2em;

    @media screen and #{$mq-large} {
      font-size: 1.8rem;
    }
  }
  #score {
    display: inline;
  }
}

#learn-next {
  width: 15rem;
  position: absolute;
  bottom: 1em;
  left: calc(50% - 7.5rem);
}

body.unlocked #score-board {
  position: relative;
  left: auto;
  margin-bottom: 2em;
}

#game-difficulty, #filters {
  width: 20rem;
  margin: 0 auto;
  padding: 1em;
  position: relative;

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 2em;
    color: $colour-secondary;
    border-bottom: 1px dotted $colour-secondary;
  }

  .option {
    padding: 0.5em 0;
    font-size: 1.4em;
    text-transform: uppercase;
    width: 14rem;
    text-align: left;
    margin: 0 auto;

    label {
      cursor: pointer;
    }

    p {
      font-size: 1.1rem;
      margin: 0.3em 0 0.6em;
      padding-left: 2.4em;
      text-transform: none;
    }
  }
}

#filters {
  margin-top: 5rem;
}

#game-difficulty {
  margin-top: 3rem;
}

#start {
  margin-top: 4rem;
}

#full-plant-list {
  display: block;
  height: 15rem;
  width: 300px;
  max-width: 100%;
  overflow-y: scroll;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 2em;

  .item {
    padding: 0.3em;
    cursor:pointer;

    &:hover {
      background-color: $colour-primary;
    }
  }
}