.card {
  border: none;
  border-radius: 1.25rem;
  background: #fff;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 18.81rem;
  height: 29.7rem;
  font-weight: bolder;
  color: #000;
  transition: all 0.4s cubic-bezier(.63,.15,.03,1.12);
  animation-fill-mode: backwards;
  animation: slideUpFromBottom 0.5s ease forwards;
  opacity: 1;
  filter: blur(0);
  filter: drop-shadow(3px 3px 3px black);
  transform: rotate(-1.3deg);
  overflow: hidden;

  @media screen and #{$mq-small} {
    width: 20.9rem;
    height: 33rem;
  }

  @media screen and #{$mq-medium} {
    width: 22.99rem;
    height: 36.3rem;
  }

  @media screen and #{$mq-large} {
    width: 25.08rem;
    height: 39.6rem;
  }


  & ~ .card {
    margin-top: -29.7rem;

    @media screen and #{$mq-small} {
      margin-top: -33rem;
    }

    @media screen and #{$mq-medium} {
      margin-top: -35.3rem;
    }

    @media screen and #{$mq-large} {
      margin-top: -38rem;
    }
  }
  &:nth-child(2n) { transform: rotate(-0deg); }
  &:nth-child(3n) { transform: rotate(1.5deg); }

  .front, .back {
    width: 100%;
    height: 100%;
  }

  &.hidden {
    opacity: 0;
    transition: all 2s;
  }

  .picture {
    display: block;
    width: 100%;
    height: 13.86rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;

    @media screen and #{$mq-small} {
      height: 15.4rem;
    }

    @media screen and #{$mq-medium} {
      height: 16.94rem;
    }

    @media screen and #{$mq-large} {
      height: 18.48rem;
    }

  }

  .copyright {
    display: block;
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;

    .icon {
      background: url("../img/icons/copyright.svg") no-repeat center center;
      background-size: cover;
      display: block;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
    }

    .text {
      display: none;
    }
  }

  &.correct::after {
    content: url("../img/icons/check-circle2.svg") !important;
    height: 3em;
    width: 3em;
    position: absolute;
    border-radius: 3em;
    background: #fff;
    translate: 0 -1.4rem;
    right: 0.5rem;
    top: 13.86rem;

    @media screen and #{$mq-small} {
      top: 15.4rem;
    }

    @media screen and #{$mq-medium} {
      top: 16.94rem;
    }

    @media screen and #{$mq-large} {
      top: 18.48rem;
    }
  }

  &.incorrect::after {
    content: url("../img/icons/x-circle.svg") !important;
    height: 3em;
    width: 3em;
    position: absolute;
    border-radius: 3em;
    background: #fff;
    translate: 0 -1.4rem;
    right: 0.5rem;
    top: 13.86rem;

    @media screen and #{$mq-small} {
      top: 15.4rem;
    }

    @media screen and #{$mq-medium} {
      top: 16.94rem;
    }

    @media screen and #{$mq-large} {
      top: 18.48rem;
    }
  }

  ul.answers.easy {
    padding: 1.4em;
    display: block;
    text-align: left;

    @media screen and #{$mq-small} {
      padding: 1.6em;
    }

    @media screen and #{$mq-medium} {
      padding: 1.7em;
    }

    @media screen and #{$mq-large} {
      padding: 1.8em;
    }

    li {
      display: block;

      &:last-child button {
        border-bottom: none;
      }

      button {
        width: 100%;
        background: none;
        padding: 0.5em 1.5em 0.5em 0;
        font-size: 1.25em;
        font-weight: 500;
        line-height: 1;
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        color: #000;
        text-align: left;
        border:none;
        border-bottom: #e3e3e3 dashed 1px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s;

        @media screen and #{$mq-large} {
          font-size: 1.5em;
        }

        &::after {
          content: url("../img/icons/arrow-right.svg");
          position: absolute;
          right: 0;
          opacity: 0;
          height: 1em;
          width: 1em;
          top: calc(50% - 0.5em);
          margin-top: -0.2em;
        }

        &:hover::after {
          animation: slideInLeft 0.2s;
          opacity: 1;
        }

        &.correct::after {
          content: url("../img/icons/check-circle.svg") !important;
          opacity: 1;
          height: 1.3em;
          width: 1.3em;
          margin-top: 0.1em;
          top: calc(50% - 0.6em);
        }

        &.incorrect::after {
          content: url("../img/icons/x-circle.svg") !important;
          opacity: 1;
          height: 1.3em;
          width: 1.3em;
          top: calc(50% - 0.6em);
          margin-top: 0;
        }
      }

    }
  }

  &.answered button:hover {
    cursor: default;

    &::after {
      content: "";
      animation: none;
    }
  }

  &.answered button.correct:hover {
    cursor: default;
  }

  &.answered button.incorrect:hover {
    cursor: default;
  }
}

.answers.hard {
  display: block;
  padding: 1em 1.5em;
  text-align: left;

  .answer {
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1;

    &:before {
      content: "Answered: ";
      opacity: 0.4;
    }
  }

  .botanical-name {
    border: none;
    border-bottom: #333 dotted 1px;
    padding: 0.4em 0;
    width: 100%;
    min-height: 1.4em;
    outline: none;
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    line-height: 1;

    &:before {
      content: "Press to select an answer";
      font-weight: 300;
      opacity: 0.4;
    }

    &.selected {
      cursor: default;

      &:before {
        display: none;
      }
    }
  }

  .common-name {
    display: block;
    margin-bottom: 0.5em;
    transition: filter 0.3s;

    &.blurred {
      filter: blur(0.3em);
      transition: filter 0.3s;
    }
  }

  ul {
    margin-top: 0.3em;

    li {
      padding: 0.3em 0;
      font-size: 1.1em;

      .title {
        font-weight: 500;
        display: inline-block;
        width: 35%;

        &:after {
          content: ":";
        }
      }
    }
  }
}

#deck.spread .card {
  margin: 1em;
  transition: all 2s;
  transform: rotate(0deg);
}