.card {
  border: none;
  border-radius: 1.25rem;
  background: #fff;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 19rem;
  height: 30rem;
  font-weight: bolder;
  color: #000;
  transition: all 0.4s cubic-bezier(.63,.15,.03,1.12);
  animation-fill-mode: backwards;
  animation: slideUpFromBottom 0.5s ease forwards;
  opacity: 1;
  filter: blur(0);
  filter: drop-shadow(3px 3px 3px black);
  transform: rotate(-1.5deg);
  overflow: hidden;

  & ~ .card { margin-top: -30rem; }
  &:nth-child(2n) { transform: rotate(-0deg); }
  &:nth-child(3n) { transform: rotate(1.5deg); }

  .front, .back {
    width: 100%;
    height: 100%;
  }

  &.hidden {
    opacity: 0;
    transition: all 2s;
  }

  .picture {
    display: block;
    width: 100%;
    height: 14rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;

  }

  ul {
    padding: 1.6em;
    display: block;
    text-align: left;

    li {
      display: block;

      &:last-child button {
        border-bottom: none;
      }

      button {
        width: 100%;
        background: none;
        padding: 0.5em 0;
        font-size: 1.1em;
        font-weight: 500;
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        color: #000;
        text-align: left;
        border:none;
        border-bottom: #e3e3e3 dashed 1px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s;

        &::after {
          content: url("../img/icons/arrow-right.svg");
          position: absolute;
          right: 0;
          opacity: 0;
          height: 1em;
          width: 1em;
          margin-top: -0.1em;
        }

        &:hover::after {
          animation: slideInLeft 0.2s;
          opacity: 1;
        }

        &.correct::after {
          content: url("../img/icons/check-circle.svg") !important;
          opacity: 1;
          height: 1.5em;
          width: 1.5em;
          margin-top: -0.1em;
        }

        &.incorrect::after {
          content: url("../img/icons/x-circle.svg") !important;
          opacity: 1;
          height: 1.5em;
          width: 1.5em;
          margin-top: -0.1em;
        }
      }

    }
  }

  &.answered button:hover {
    cursor: not-allowed;

    &::after {
      content: "";
      animation: none;
    }
  }

  &.answered button.correct:hover {
    cursor: not-allowed;
  }

  &.answered button.incorrect:hover {
    cursor: not-allowed;
  }
}

#deck.spread .card {
  margin: 1em;
  transition: all 2s;
  transform: rotate(0deg);
}