h1 {
  font-size: 3em;

  @media screen and #{$mq-small} {
    font-size: 5rem;
  }
}

#logo {
  font-size: 1em;
  background-image: url("../img/plantle-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 30em;
  min-height: 8em;
  margin: 0 auto;

  @media screen and #{$mq-medium} {
    min-height: 10em;
  }

  span {
    display: none;
  }
}

#tagline {
  color: #14474E;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.5rem;

  @media screen and #{$mq-medium} {
    font-size: 2.2rem;
  }
}

h2 {
  font-size:1.8em;
}