h1 {
  font-size: 3em;

  @media screen and #{$mq-small} {
    font-size: 5rem;
  }
}

#logo {
  font-size: 1em;
  background-image: url("../img/plantle-logo-with-tagline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 30em;
  height: 100%;
  margin: 0 auto;

  span {
    display: none;
  }
}

#tagline {
  display: none;
}

h2 {
  font-size:1.8em;
}