// Font sizes
$default-font-size: 12px;
$small-font-size: 13px;
$medium-font-size: 13px;
$large-font-size: 15px;
$xlarge-font-size: 16px;
$xxlarge-font-size: 18px;

// Colours
$colour-primary: #dee5db;
$colour-secondary: #14474e;

// Breakpoints (based on height)
$bp-small: 720px; // 720px (iPhone 8+)
$bp-medium: 834px; // 834px (iPhone 14)
$bp-large: 1024px; // 1024px
$bp-xlarge: 1920px; // 1920px
$bp-xxlarge: 2560px; // 2560px

// Media Queries
$mq-small: "(min-height: #{$bp-small})";
$mq-medium: "(min-height: #{$bp-medium})";
$mq-large: "(min-height: #{$bp-large})";
$mq-xlarge: "(min-height: #{$bp-xlarge})";
$mq-xxlarge: "(min-height: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$cardWidth: 50vmin;